
      * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: "Poppins", sans-serif;
        color: white;
      }
      html {
        scroll-behavior: smooth;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 74px;
        background-color: rgb(5, 4, 4);
        position: fixed;
        width: 100%;
      }
      a:hover {
        font-weight: 900;
        color: greenyellow;
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      nav ul li {
        list-style: none;
        margin: 0 20px;
        padding: 20px;
      }
      nav ul li a {
        text-decoration: none;
        color: white;
      }
      .hrline {
        border: 0.1px solid white;
      }

      .btn {
        margin: 20px;
        border-radius: 0px;
        padding: 5px 10px 5px 10px;
        justify-content: center;
        background-color: rgb(32, 228, 6);
        color: white;
        border-radius: 5px;
        font-weight: 900;
        font-size: 1rem;
        cursor: pointer;
      }

      .left {
        font-size: 1.6rem;
        margin: 16px;
        padding: 2px;
      }

      .billboard {
        background-image: url(image/main-banner.jpg);
        background-size: cover;
        background-position: center;
        height: 720px;
      }
      .leftside-text {
        font-size: 7.5rem;
        padding: 220px 0 0 0px;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      .green {
        color: rgb(0, 255, 0);
        font-weight: 900;
      }

      #element {
        font-size: 1.25rem;
        font-weight: 900;
        text-align: center;
        padding: 0px 0px 0px 470px;
      }

      .secondclass {
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
      }
      .content {
        color: black;
        padding: 50px;
        text-align: center;
        height: 600px;
      }
      .content .h1 {
        padding: 0px;
        font-size: 2rem;
        margin-bottom: 40px;
      }
      .content p {
        font-size: 1.12rem;
        margin-bottom: 40px;
      }

      .flipcards {
        display: flex;
        justify-content: center;
      }

      .flipcards .box1,
      .flipcards .box2,
      .flipcards .box3 {
        width: 370px;
        height: 290px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1px;
        padding: 20px;
        margin: 0px 20px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .flipcards .box1 h3,
      .flipcards .box2 h3,
      .flipcards .box3 h3 {
        margin-bottom: 20px;
        font-weight: 900px;
        font-size: 1.5rem;
      }

      .flipcards .box1 p,
      .flipcards .box2 p,
      .flipcards .box3 p {
        margin-top: 20px; /* Add margin-top to create space between h3 and p */
      }
      .flipcards .box1:hover,
      .flipcards .box2:hover,
      .flipcards .box3:hover {
        transform: scale(1.05); /* Increase scale on hover */
        transition: transform 0.3s ease; /* Add smooth transition */
      }

      .thirdsection {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
      }

      .services {
        color: black;
        padding: 50px;
        text-align: center;
        height: 800px;
      }
      .textthree {
        margin-bottom: 50px;
      }

      .flashcards1 {
        display: flex;
        justify-content: space-between;
      }
      .flashcards2 {
        display: flex;
        justify-content: space-between;
      }

      .flashcards1 .card1,
      .flashcards1 .card2,
      .flashcards1 .card3,
      .flashcards1 .card4 {
        width: 250px;
        height: 300px;
        background-color: #811919;
        border-radius: 0px;
        padding: 25px;
        margin: 0px 20px 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .flashcards2 .card5,
      .flashcards2 .card6,
      .flashcards2 .card7,
      .flashcards2 .card8 {
        width: 250px;
        height: 300px;
        background-color: #4b00c4;
        border-radius: 0px;
        padding: 25px;
        margin: 0px 20px 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }

      .flashcards1 .card1 {
        background-image: url(image/cardio.jpg);
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards1 .card2 {
        background-image: url(image/indoor\ cycling.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards1 .card3 {
        background-image: url(image/zumba.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards1 .card4 {
        background-image: url(image/crossfit.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }

      .flashcards2 .card5 {
        background-image: url(image/yoga.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards2 .card6 {
        background-image: url(image/kickboxing.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards2 .card7 {
        background-image: url(image/weightlifting.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards2 .card8 {
        background-image: url(image/personaltraining.jpg);
        background-position: center;
        background-size: cover;
        font-size: 2.2rem;
        font-weight: 900;
        color: rgb(0, 0, 0);
      }
      .flashcards1 .card1,
      .flashcards1 .card2,
      .flashcards1 .card3,
      .flashcards1 .card4,
      .flashcards2 .card5,
      .flashcards2 .card6,
      .flashcards2 .card7,
      .flashcards2 .card8 {
        background-color: rgba(0,0,0,0.7); /* Adjust the RGBA values and opacity as needed */
        background-blend-mode: multiply; /* Optional: Blend mode to mix the background color with the image */
      }
      .flashcards1 .card1,
      .flashcards1 .card2,
      .flashcards1 .card3,
      .flashcards1 .card4,
      .flashcards2 .card5,
      .flashcards2 .card6,
      .flashcards2 .card7,
      .flashcards2 .card8 {
        color: white; /* Set text color to white */
      }

      .flashcards1 .card1:hover,
      .flashcards1 .card2:hover,
      .flashcards1 .card3:hover,
      .flashcards1 .card4:hover,
      .flashcards2 .card5:hover,
      .flashcards2 .card6:hover,
      .flashcards2 .card7:hover,
      .flashcards2 .card8:hover {
        transform: scale(1.1); /* Increase scale on hover */
        transition: transform 0.3s ease-in-out; /* Add smooth transition */
      }

      .fourthsection {
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
      }
      .achievements {
        color: black;
        font-size: 1.5rem;
        padding: 50px;
        text-align: center;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .achievements .rounddial {
        display: flex;
        justify-content: space-between;
      }

      .rounddial .dial1,
      .rounddial .dial2,
      .rounddial .dial3,
      .rounddial .dial4 {
        width: 200px;
        height: 200px;
        
        border: 3px solid green; /* Add green border */
        border-radius: 50%;
        margin: 50px 75px 50px 75px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        color: #fff;
      }

      .rounddial .dial1 .dial1_2 {
        display: flex;
      }

      .rounddial .dial1 .dial1_2,
      .rounddial .dial2 .dial2_2,
      .rounddial .dial3 .dial3_2,
      .rounddial .dial4 .dial4_2 {
        width: 175px;
        height: 175px;
        background-color: white;
        color: black;
        border: 3px solid rgba(0, 255, 0, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
      }

      .undertxt {
        display: flex;
        justify-content: space-evenly;
        color: black;
        text-align: center;
        width: 100%;
      }

      .txtf1,
      .txtf2,
      .txtf3,
      .txtf4 {
        font-size: 1.5rem;
        font-weight: 900;
        margin: 0px 65px 0px 65px;
        text-align: center;
      }

      .fifthsection{
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: url(image/deadlift.jpg);
        background-size: cover;
        background-position: center;
        background-color: rgba(0,0,0,0.7);
        background-blend-mode: multiply;
        
        
      }

      .Membership{
        padding: 38px;
        text-align: center;
        height: 650px;
      }
      .bigmcards{
        display: flex;
      }
      .bigmcards .mcard1,
      .bigmcards .mcard2,
      .bigmcards .mcard3{
        width: 320px;
        height: 480px;
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 1px;
        padding: 20px;
        margin: 50px 30px 20px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
      }
      .bigmcards .mcard1:hover,
      .bigmcards .mcard2:hover,
      .bigmcards .mcard3:hover{
        border:2px solid green;
        /* CSS for changing background color of membership cards on hover */

        background-color: black;
        transition: background-color 0.3s ease; 
      }
      .bigmcards .mcard1 h1,
      .bigmcards .mcard2 h1,
      .bigmcards .mcard3 h1 {
        font-weight: 900px;
      }

      .bigmcards .mcard1 ul,
      .bigmcards .mcard2 ul,
      .bigmcards .mcard3 ul {
        list-style-type: none; /* Remove default bullets */
      }

      .bigmcards .mcard1 ul li,
      .bigmcards .mcard2 ul li,
      .bigmcards .mcard3 ul li {
        display: flex;
        align-items: center; /* Align items vertically */
        line-height: 45px;
       
      }

      .bigmcards .mcard1 ul li::before,
      .bigmcards .mcard2 ul li::before,
      .bigmcards .mcard3 ul li::before {
        content: "\2713"; /* Unicode for checkmark symbol */
        margin-right: 10px; /* Add space between checkmark and text */
      }

      .bigmcards .mcard1 ul li.crossm1::before,
      .bigmcards .mcard1 ul li.crossm2::before,
      .bigmcards .mcard2 ul li.crossm3::before{
        content: "\00D7"; /* Unicode for cross symbol */
      }

      /* Style the list items */
      .bigmcards .mcard1 ul li,
      .bigmcards .mcard2 ul li,
      .bigmcards .mcard3 ul li {
        font-size: 1.2rem;
      }

      .pricetag{
        display: flex;
      }

      .bigmcards .mcard1 .pricetag1,
      .bigmcards .mcard2 .pricetag2,
      .bigmcards .mcard3  .pricetag3{
        margin-top: 30px;
      }
      .bigmcards .mcard1 .pricetag1 strong,
      .bigmcards .mcard2 .pricetag2 strong,
      .bigmcards .mcard3 .pricetag3 strong{
        font-size: 3.1rem;
      }

      .bigmcards .mcard1 button,
      .bigmcards .mcard2 button,
      .bigmcards .mcard3 button{
        background-color: rgb(12, 213, 12); /* Remove background color */
        color: rgb(0, 0, 0); /* Set text color */
        border: none; /* Remove border */
        padding: 10px 30px 10px 30px; /* Adjust padding */
        font-weight: 900;
        font-size: 18px;
        box-shadow: 0 0 5px rgb(17, 208, 17);
        cursor: pointer;
      }

      .bigmcards .mcard1 button:hover,
      .bigmcards .mcard2 button:hover,
      .bigmcards .mcard3 button:hover{
        border: 2px solid white;
        box-shadow: 0 0 5ps rgb(25, 204, 25),
        0 0 25px rgb(25, 204, 25),
        0 0 100px rgb(25,204,25),
        0 0 200px rgb(25,204,25);
      }
      .sixthsection{
        display: flex;
        justify-content: left;
        background-image: url(image/plant.jpg);
        background-size: cover;
        background-position: center;
        height: 700px;
        color:black;
      }
      .sixthsection .container {
        width: 22rem;
        margin-top: 8rem;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        height: 22rem;
        margin-left: 120px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }

      .inputs input {
        outline: none;
        height: 30px;
      }

      #results {
        font-size: 20px;
        text-align: center;
        color: blue;
      }

      .calcBtn {
        width: 100%;
        padding: 8px 0;
        margin-top: 10px;
        border-radius: 5px;
        border-style: none;
        background: #2563eb;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
      }

      .calcBtn:active{
        background-color: #12ba26;
      }

      #message {
        text-align: center;
      }
      
      footer{
        background-image: url(image/footer.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 50px;
        margin-top: 10px;
        
    }
    .containerf{
        width: 1190px;
        margin: auto;
        display: flex;
        justify-content: center;
        height: 400px;
        margin-top:100px;
        
    }
    .footer-content{
        width: 33.3%;
    }
    h3{
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
    }
    .footer-content p{
        width:190px;
        margin: auto;
        padding: 7px;
    }
    .footer-content ul{
        text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #05d621;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 70px;
    }
    .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .social-icons i{
        color: white;
        font-size: 25px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: #0eca17;
    }
    .social-icons i:hover{
        color: #0eca17;
    }
    .bottom-bar{
        background: #0a0909;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #ffffff;
        margin: 0;
        font-size: 16px;
        padding: 7px;
    }
      