*{
    margin: 0;
    padding:0;
}

.navbar{
    height:60px;
    background-color: #00ffff;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    text-align: right;
}
a{
    margin: 20px;
}   